<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<%- messages() %>
<div class="login-container">
    <form action="./login" method="post">
      <div class="form-group">
        <label for="account_email">Email</label>
        <input type="text" id="account_username" name="account_email" required />
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="account_password" name="account_password" required />
      </div>
      
      <input type="submit" value="Login" />
      
      <div class="form-footer">
        <p>Don't have an account? <a href="./register">Register</a></p>
      </div>
    </form>
  </div>